body {
  background-color: #18072e;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 50px;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}
button {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  background-color: #ff9900;
}
p {
  font-size: 18px;
}
